.searchPage_Header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPage_Header img{
    object-fit: contain;
    height: 50px;
    margin-right: 30px;
}

.searchPage_headerBody > .search > .search_input{
    margin-top: 0;
    width: unset;
    height: 45px;
    max-width: unset;
}

.searchPage_options{
    display: flex;
    align-items: center;
    color: gray;
}
.searchPage_options a{
    text-decoration: none;
    color: gray;
}

.searchPage_optionsLeft,.searchPage_optionsRight{
    display: flex;
    font-size: 10px;
}
.searchPage_optionsRight{
    margin-left: 80px;
}
.searchPage_option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchPage_option a{
    margin-left: 3px;
}

.searchPage_resultsCount{
    font-size: 15px;
    color: #70757a;
}
.searchPage_result{
    margin:40px 0;
    font-size: 20px;
}

.searchPage_results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 100px;
}

.searchPage_result_link{
    text-decoration: none;
    font-size: 15px;
}
.searchPage_result_link:hover{
    text-decoration: underline;
}
.searchPage_result_title{
text-decoration: none;
}
.result_title{
    font-size: 20px;
}


.searchPage_result a{
    text-decoration: none;
}
.searchPage_result a:hover{
    text-decoration: underline;
}

.searchPage_resultImage{
    width: 30px;
    height: 20px;
    margin-right: 10px;
    border-radius: 30px;
}